@model IEnumerable<airbnb.Models.Home>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var home in Model) {
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="@home.Pictures.First().Filepath" class="img-fluid rounded-start">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h4 class="card-title">
              @Html.ActionLink(@home.Name, "Details", "Homes", new { id = @home.Id })
            </h4>
            <h6>
              @Html.DisplayFor(modelItem => home.City),
              @Html.DisplayFor(modelItem => home.Area),
              @Html.DisplayFor(modelItem => home.Country)
            </h6>
            <h6>★ TODO</h6>
            <div class="row" style="margin-bottom: 30px; margin-top: 20px">
              <div class="col-md-3">Guests: @home.GuestLimit</div>
              <div class="col-md-3">Type: @home.Type</div>
              <div class="col-md-3">Beds: @home.Beds</div>
              <div class="col-md-3">Baths: @home.Baths</div>
            </div>
            <p class="card-text" style="overflow:hidden; height: 125px;">@Html.DisplayFor(modelItem => home.Description)</p>
          </div>
        </div>
      </div>
    </div>
}
